{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
        <h1>Créer une sortie</h1>
        {{ form_start(outingForm) }}
        {{ form_widget(outingForm) }}
        <button>Valider</button>
        <button>Enregistrer</button>
        {{ form_end(outingForm) }}
{% endblock %}

