<nav>
    <ul>
        <div class="navContainer">
            <li><a href="{{ path('admin_dashboard') }}">Tableau de bord</a></li>
            <li><a href="{{ path('admin_users') }}">Utilisateurs</a></li>
            <li><a href="">Villes</a></li>
            <li><a href="">Campus</a></li>
        </div>
    </ul>
</nav>
