{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Admin
{% endblock %}

{% block body %}
    <div class="gen-div-format">
        <h1 id="admin-h1">Tableau de bord</h1>
        <div id="nav-div">
            {% include 'views/nav/navAdmin.html.twig' %}
        </div>
    </div>
{% endblock %}

