{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Utilisateurs
{% endblock %}

{% block body %}
<div class="gen-div-format">
    <h1>Gestion d'utilisateurs</h1>
    <button>Inscrire utilisateur</button>
</div>
    <div>

    </div>
{% endblock %}



