body {
    background-color: #c7efff;
}
/************************************/
/************* CSS Lenn *************/

/*List of all outings : */
.outingInList {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
}

.outing-img {
    background-color: #e5f9ff;
    border-radius: 20px;
    margin-right: 3vw;
    margin-left: 3vw;
}
.outing-img img {
    max-width: 20vw;
}
.outing-infos {
    display: flex;
    flex-flow: wrap column;
    width: fit-content;
}

.outing-infos h4 {
    margin-bottom: 0;
}

.outing-infos div {
    margin-bottom: 1vh;
    margin-top: 0;
}

.outing-infos div:first-child {
    flex-flow: wrap column;
    margin-bottom: 5vh;
}

.outing-infos button {
    border-radius: 15px;
    margin-right: 2vw;
}

.outing-date {
    display: inline-block;
}


/*Box w/ current date & username*/
.general-infos {
    font-size: 0.7rem;
    display: flex;
    justify-self: flex-end;
    padding: 1vh;
    justify-content: center;
    flex-wrap: wrap;
    max-width:15vw;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}

.general-infos div {
    align-self: center;
}


.goodNews {
    font-weight: bold;
    color: #509e69;
}

.button-space {
    display: flex;
    flex-flow: wrap column;
    margin: 1vh
}

.button-space a {
    margin-top: 2vh;
}

/*Affichage selon le statut de la sortie*/
.outing-status {
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    color: white;
    max-width: 15vw;
}

.status-cancelled {
    background-color: #911238;
    border-radius: 20px;
    padding: 0.75rem 1rem;
}

.status-toolate {
    background-color: #123e91;
    border-radius: 20px;
    padding: 0.75rem 1rem;
}

.status-done {
    background-color: #12914d;
    border-radius: 20px;
    padding: 0.75rem 1rem;
}

.widgets-space {
    display: flex;
    justify-content: space-between;
}
.widgets-space button {
    margin:0
}

.profilePic {
    display: flex;
    border-radius: 100%;
    width: 25vh;
    height: 25vh;
    justify-self:center;
}

/************* CSS Adrien ***********************/

.participants-list{
    margin-inline: 7rem;
}
.participants-details{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
}

/************* CSS Emilia *************/
/* Style de messages FLASH et ERROR : */
.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: black;
}

.flash-success {
    background-color: lawngreen
}

.error {
    color: red;
}

/* Style of OUTING SEARCH FORM : */

div.outing-search form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 250px;
    max-width: 1000px;
    font-size: 16px;
    margin-bottom: 25px;
    justify-self: center;
}

.outing-search-criteria {
    display: flex;
    flex-direction: column;
    margin: 3vh;
}

.outing-search-criteria input {
    max-height: 30px;
    max-width: 200px;
    margin-bottom: 0;
    font-size: 16px;
}

.outing-search-criteria select {
    max-height: 30px;
    max-width: 200px;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

div.outing-search-criteria div label {
    margin-right: 10px;
}

div.outing-search-criteria div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.outing-search-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.outing-search-checkbox div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    min-width: 295px;
}

div#outing_search_outingFilters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3vh;
}

.search-btn-div {
    display: flex;
}

.outing-search-btn {
    max-height: 50px;
    align-self: anchor-center;
    font-size: 16px;
    margin: 3vh;
}

li#outing_search_startSearchDate_error1 {
    color: #aa0505;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
}

li#outing_search_endSearchDate_error1 {
    color: #aa0505;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
}

/* Tout formulaire */
.required-field {
    font-style: italic;
    justify-self: flex-end;
    font-size: 14px;
    margin: 0;
}

/* Formulaire d'annulation */
#cancel-motive-prompt {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.required-motive {
    font-style: italic;
    justify-self: flex-end;
    font-size: 14px;
}


/************************************/
